<html>
    <head>
        <title>Home </title>
    </head>
    <body>
        <h1>Título da página </h1>
        <hr/>

        Opa, tudo bem, como vai {{ user.name }}? sua idade é {{ user.age }} anos?
    </body>

 </html>